.callout.slp-container.gitlab-trial
  %h2
    Can’t wait for Commit? Try GitLab now!
  = link_to "Get started", "/free-trial/", class: "btn cta-btn orange u-margin-top-xs"

-# override global styles
:css
  body .gitlab-trial {
    background: none;
    padding-bottom: 70px;
  }
